.jumbotron {
  padding-top: 6rem;
  background-color: #ff838f;
}
.display-4 {
  font-size: 3rem;
}
#pendidikan {
  background-color: #ff838f;
}
#kontak {
  background-color: #b90113;
}

footer {
  background-color: #b90113;
}
section {
  padding-top: 4rem;
}
img.card-img-top {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
